body{
    background-color: #95d5b2;
    margin: 0;
    padding: 40;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

h1{
    color: #124170;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;

}
